---
http_interactions:
- request:
    method: get
    uri: http://api.myshows.ru/profile/episodes/unwatched/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Not Authorized
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "                <!DOCTYPE HTML PUBLIC '-//IETF//DTD HTML 2.0//EN'>\r\n
        \               <html>\r\n                <head><title>401 Not Authorized</title></head>\r\n
        \               <body><h1>Not Authorized</h1></body>\r\n                </html>\r\n
        \           "
  recorded_at: Mon, 09 Mar 2015 07:25:55 GMT
recorded_with: VCR 2.9.3
