---
http_interactions:
- request:
    method: get
    uri: http://api.myshows.ru/profile/login?login=baduser&password=worstpassword
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "                <!DOCTYPE HTML PUBLIC '-//IETF//DTD HTML 2.0//EN'>\r\n
        \               <html>\r\n                <head><title>403 Forbidden</title></head>\r\n
        \               <body><h1>Forbidden</h1></body>\r\n                </html>\r\n
        \           "
  recorded_at: Mon, 09 Mar 2015 07:25:51 GMT
recorded_with: VCR 2.9.3
