---
http_interactions:
- request:
    method: get
    uri: http://api.myshows.ru/profile/login?login=demo&password=fe01ce2a7fbac8fafaed7c982a04e229
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "                <!DOCTYPE HTML PUBLIC '-//IETF//DTD HTML 2.0//EN'>\r\n
        \               <html>\r\n                <head><title>200 </title></head>\r\n
        \               <body><h1></h1></body>\r\n                </html>\r\n            "
  recorded_at: Mon, 09 Mar 2015 07:25:52 GMT
- request:
    method: get
    uri: http://api.myshows.ru/profile/shows/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"4":{"showId":4,"title":"24","ruTitle":"24 \u0447\u0430\u0441\u0430","runtime":43,"showStatus":"TBD\/On
        The Bubble","watchStatus":"watching","watchedEpisodes":191,"totalEpisodes":204,"rating":4,"image":"http:\/\/images.tvrage.com\/shows\/3\/2445.png"},"22410":{"showId":22410,"title":"Black
        Mirror","ruTitle":"\u0427\u0435\u0440\u043d\u043e\u0435 \u0437\u0435\u0440\u043a\u0430\u043b\u043e","runtime":43,"showStatus":"Returning
        Series","watchStatus":"watching","watchedEpisodes":6,"totalEpisodes":7,"rating":4,"image":"http:\/\/images.tvrage.com\/shows\/31\/30348.jpg"},"14":{"showId":14,"title":"Prison
        Break","ruTitle":"\u041f\u043e\u0431\u0435\u0433","runtime":43,"showStatus[...]
