---
http_interactions:
- request:
    method: get
    uri: http://api.myshows.ru/profile/login?login=demo&password=fe01ce2a7fbac8fafaed7c982a04e229
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "                <!DOCTYPE HTML PUBLIC '-//IETF//DTD HTML 2.0//EN'>\r\n
        \               <html>\r\n                <head><title>200 </title></head>\r\n
        \               <body><h1></h1></body>\r\n                </html>\r\n            "
  recorded_at: Mon, 09 Mar 2015 07:25:53 GMT
- request:
    method: get
    uri: http://api.myshows.ru/profile/episodes/unwatched/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"2169617":{"episodeId":2169617,"title":"Day 9: 8:00 PM-9:00 PM","showId":4,"seasonNumber":9,"episodeNumber":10,"airDate":"30.06.2014"},"2169616":{"episodeId":2169616,"title":"Day
        9: 7:00 PM-8:00 PM","showId":4,"seasonNumber":9,"episodeNumber":9,"airDate":"23.06.2014"},"2169615":{"episodeId":2169615,"title":"Day
        9: 6:00 PM-7:00 PM","showId":4,"seasonNumber":9,"episodeNumber":8,"airDate":"16.06.2014"},"2169614":{"episodeId":2169614,"title":"Day
        9: 5:00 PM-6:00 PM","showId":4,"seasonNumber":9,"episodeNumber":7,"airDate":"09.06.2014"},"2169613":{"episodeId":2169613,"title":"Day
        9: 4:00 [...]
